{% extends "base.html"%}

{% block content %}
    <h3>Game {{ game_id }}
    <div class="force-tick">
      <form action="/game/{{ game_id }}/force_tick" method="POST">
	<button type="submit">What about tomorrow?</button>
      </form>
    </div>
    </h1>
    <div class="board">
      {% for column_name, tickets in tickets_by_group %}
      <div class="column">
	<div class="column-title"> {{ column_name }}</div>
	<div class="tickets">
	  {% for ticket in tickets %}
	    <div class="ticket">
	      <div class="ticket-header">
		{{ ticket.key }} - <span class="ticket_state" style="background-color: {{ ticket.state.color }}">{{ticket.state.name}}</span>
	      </div>
	      <div class="ticket-title">{{ ticket.title }}</div>
	      {% if not ticket.is_closed %}
	      <div class="ticket-progress">
		{% for tick in range(ticket.tick_count) %}
		{{ ticket.remaining_work }}
		<div class="tick"></div>
		{% endfor %}
	      </div>
	      {% endif%}
	    </div>
	    {% endfor %}
	</div>
      </div>
      {% endfor %}
    </div>
{% endblock %}
