<!DOCTYPE html>
<html>
  <head>
    <!-- <meta http-equiv="refresh" content="2"> -->
    <script type="text/javascript" src="/static/script.js"></script>
    <link rel=stylesheet href="/static/style.css">

  </head>
  <body>
    <h1>Game {{ game_id }}
    <div class="force-tick">
      <form action="/game/{{ game_id }}/force_tick" method="POST">
	<button type="submit">What about tomorrow?</button>
      </form>
    </div>
    </h1>
    <div class="board">
      {% for column_name, tickets in tickets_by_group %}
      <div class="column">
	<div class="column-title"> {{ column_name }}</div>
	<div class="tickets">
	  {% for ticket in tickets %}
	    <div class="ticket">
	      <div class="ticket-header">
		{{ ticket.key }} - <span class="ticket_state" style="background-color: {{ ticket.state.color }}">{{ticket.state.name}}</span>
	      </div>
	      <div class="ticket-title">{{ ticket.title }}</div>
	      <div class="ticket-progress">
		{% for tick in range(ticket.tick_count) %}
		<div class="tick"></div>
		{% endfor %}
	      </div>
	    </div>
	    {% endfor %}
	</div>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
